doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='description' content='KranCorp verdichtet')
    meta(name='keywords' content='kran,kranplatz,corp,cooperation,software,agile,excel,dynamic,startup,slack,html5')
    meta(name='author' content='KranCorp')

    meta(name='viewport' content='width=device-width, initial-scale=1')

    title KranCorp

    link(rel='stylesheet' href='assets/css/style.css')
    include include/_favicons.pug

  body
    header
      #header-background
      .nav
          ul
            li.nav-item: a(href="#") About
      .header-logo
        .flex-grow
        img.logo(src='assets/img/k.svg')
        .flex-grow

    .row.white.padding
      .container
        h1 Why we are here
        .columns
          | At the beginning of every endeavour there is an idea, a vision of what you wish to accomplish.
          | It may not be obvious at first, but it is there, a force driving you forward. In our case this idea is to just <i>get going</i>
          | and assist others in doing the same. Personally, I find little as frustrating as getting stuck in a routine of
          | exhausting idleness. In retrospect it is clear to me that we founded KranCorp to combat this dizzying stagnation.
          | It has become a place of growth, of relentless trying and innovating, a playground for our ideas and ambitions.
          | And we are eager to share our passion and enjoyment with you - just look around and make yourself at home.
        span.author @brecher, CEO of KranCorp
    .row.black.padding
      .container
        h1 What people say about us
        .flex
          .quote
            .text Die Kranplätze waren schon immer ausgezeichnet verdichtet. Dieser Firma kann man vertrauen!
            .author Ronny, Kranführer
          .quote
            .text Die haben sie zwar nicht mehr alle, aber die wissen sich zu helfen!
            .author Detlef, Kleingärtner
    .row.white.padding
      .container.
        Der Kaiser – so heißt es – hat dir, dem Einzelnen, dem jämmerlichen Untertanen, dem winzig vor der kaiserlichen Sonne in die fernste Ferne geflüchteten Schatten, gerade dir hat der Kaiser von seinem Sterbebett aus eine Botschaft gesendet. Den Boten hat er beim Bett niederknien lassen und ihm die Botschaft ins Ohr geflüstert; so sehr war ihm an ihr gelegen, daß er sich sie noch ins Ohr wiedersagen ließ. Durch Kopfnicken hat er die Richtigkeit des Gesagten bestätigt. Und vor der ganzen Zuschauerschaft seines Todes – alle hindernden Wände werden niedergebrochen und auf den weit und hoch sich schwingenden Freitreppen stehen im Ring die Großen des Reichs – vor allen diesen hat er den Boten abgefertigt. Der Bote hat sich gleich auf den Weg gemacht; ein kräftiger, ein unermüdlicher Mann; einmal diesen, einmal den andern Arm vorstreckend schafft er sich Bahn durch die Menge; findet er Widerstand, zeigt er auf die Brust, wo das Zeichen der Sonne ist; er kommt auch leicht vorwärts, wie kein anderer. Aber die Menge ist so groß; ihre Wohnstätten nehmen kein Ende. Öffnete sich freies Feld, wie würde er fliegen und bald wohl hörtest du das herrliche Schlagen seiner Fäuste an deiner Tür. Aber statt dessen, wie nutzlos müht er sich ab; immer noch zwängt er sich durch die Gemächer des innersten Palastes; niemals wird er sie überwinden; und gelänge ihm dies, nichts wäre gewonnen; die Treppen hinab müßte er sich kämpfen; und gelänge ihm dies, nichts wäre gewonnen; die Höfe wären zu durchmessen; und nach den Höfen der zweite umschließende Palast; und wieder Treppen und Höfe; und wieder ein Palast; und so weiter durch Jahrtausende; und stürzte er endlich aus dem äußersten Tor – aber niemals, niemals kann es geschehen -, liegt erst die Residenzstadt vor ihm, die Mitte der Welt, hochgeschüttet voll ihres Bodensatzes. Niemand dringt hier durch und gar mit der Botschaft eines Toten. – Du aber sitzt an deinem Fenster und erträumst sie dir, wenn der Abend kommt.

    .row.black
      .footer-logo: img(src='assets/img/k.svg')


    script(src='assets/libs/jquery.min.js')
    script(src='assets/libs/two.min.js')
    script(src='assets/js/krancorp.js')
