doctype html
html
  head
    title KranCorp

    link(rel='stylesheet' href='assets/css/style.css')
    include include/_favicons.pug

  body(style='background: black;')
    div(stlye="flex-grow: 1")
    .logo
      svg(height="61.589mm" width="63.171mm")
        g(transform="translate(-264.73 -574.76)")
          g(fill="#fff" transform="matrix(3.8796 -3.8796 3.8796 3.8796 -991.83 161.21)")
            path(fill="#fff" d="m95.1 228.79h7.5195v10.645l10.84-10.645h8.7305l-14.043 13.809 15.488 15.352h-9.4141l-11.602-11.484v11.484h-7.5195v-29.16z")

    div(stlye="flex-grow: 1")
