$col-bg-header: #000;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

// -------------- Header ---------------

header {
  background: $col-bg-header;
  height: 100vh;
  position: relative;
}

#header-background,
.header-logo {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-logo {
  display: flex;

  .logo {
    margin: auto;
    width: 225px;
  }
}

// --------------- Helpers ----------
.flex-grow {
  flex-grow: 1;
}
