@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import 'mixins';

$col-bg-header: #000;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

// -------------- Header ---------------

.nav {
  position: absolute
}

header {
  background: $col-bg-header;
  height: 95vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

#header-background,
.header-logo {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-logo {
  display: flex;

  .logo {
    margin: auto;
    width: 225px;
  }
}

.footer-logo {
  padding: 2rem 0;
  width: auto;

  img {
    height: 2rem;
    display: block;
    margin: 0 auto;
  }
}

// --------------- Helpers ----------
.flex-grow {
  flex-grow: 1;
}

.col-white {
  background: white;
  color: black;
}

.row {
  box-sizing: border-box;
  &.white {
    color: black;
    background: white;
    box-shadow: inset 0 0 50px 0 #ccc;
  }
  &.black {
    color: white;
    background: black;
  }
  &.padding {
    padding: 3rem 2rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;

  .columns {
    column-count: 3;
    column-gap: 1em;
    display: block;

    @include responsive(m) {
      column-count: 2;
    }

    @include responsive(s) {
      column-count: 1;
    }
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .author {
    position: absolute;
    font-weight: bold;
    right: 2em;
    margin-top: .5em;
  }

  .quote {
    position: relative;
    margin: 2.5em 1.5em;

    .text {
      font-size: 2em;
      font-style: italic;

      &::before {
        content: '„'
      }
      &::after {
        content: '“'
      }
    }

    .author {
      right: 3em;
      font-weight: normal;

      &::before {
        content: '—';
        margin-right: 10px;
      }
    }
  }
}

.flex {
  display: flex;
  
  @include responsive(s) {
    flex-direction: column;
  }
}